@model IEnumerable<FoodDatabase.fs_category>
@{
    ViewBag.Title = "ViewCategory";
}


<style>
    a {
        color: black;
        z-index: 1000;
    }

        a:hover {
            text-decoration: none;
            color: #FFB740;
        }

    html {
        overflow-x: hidden;
    }

    .category-list {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>

<div class="category-list">
    @foreach (var item in Model)
    {
        <div class="category-wrapper">
            <div class="col-lg-4 col-md-4 text-left" style="height : 200px; margin-top : 100px">
                <img src="@Url.Content(item.c_image)" style="height : 100%; width : auto; border-radius : 10px" />

                <h3>@Html.ActionLink(item.c_name, "ViewItem", new { id = item.c_id })</h3>
            </div>
        </div>
        }
</div>